<title>Chuck Norris Joke</title>



<h1>Let's make a joke :D</h1>


<p> <%= raspunsVar %> </p>


<form action="/add" method="POST">

    <input name="querry" type="text" placeholder="baga ceva">
    <button>SEND</button>

</form>